* {
  text-align: center;
  background-color: antiquewhite;
}

.crepe-link,
.cupcake-link {
  font-family: Raleway;
}
.homepage-pic {
  width: 600px;
  height: auto;
}
h1 {
  font-family: "Oleo Script Swash Caps", cursive;
}

img {
  border-radius: 30px;
}
