* {
  /* text-align: center; */
  background-color: antiquewhite;
}
div {
  text-align: center;
}
/* .crepe-link,
.cupcake-link,
.homepage-pic {
  text-align: center;
} */

.crepe-link,
.cupcake-link {
  font-family: Raleway;
}

h1 {
  font-family: "Oleo Script Swash Caps", cursive;
  text-align: center;
}

img {
  border-radius: 30px;
  width: 600px;
  height: auto;
}
